<h1 mat-dialog-title>New Person</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.person.name" placeholder="Full name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.person.address" placeholder="Address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.person.phone" placeholder="Phone">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.person.picture" placeholder="picture">
  </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.person" cdkFocusInitial>Submit</button>
</div>